:host{
  padding: 1rem;
}

h2{
  margin-top: 0;
  font-size: 2rem;
}

.event-details{
  margin-bottom: 2rem;
}
.modal-body{
  margin: 2rem;
}
.modal-content{
  margin: 2rem;
}
.input-modal{
  padding: 2rem;
}
.input-field{
  padding-top: 1rem;
}
