:host{
  padding: 1rem;
}

h2{
  margin-top: 0;
  font-size: 2rem;
}

.event-details{
  margin-bottom: 2rem;
}
.modal-body{
  margin: 2rem;
}
.modal-content{
  margin: 2rem;
}
.input-modal{
  padding: 2rem;
}
.input-field{
  padding-top: 1rem;
}
.share-logo{
  max-height: 15rem;
  max-width: 30rem;
  padding-top: 1rem;
  border-radius: 0rem;
}
.preview{
  /*height: 70rem;*/
  width: 40rem;
  margin: 2rem;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 1rem;
  border-color: #d9d9d9;
  overflow-y:scroll;
}
.preview-logo{
  max-height: 15rem;
  display: block;
  margin: 10px auto;
}
.preview-text{
  margin-top: 2rem;
  text-align: center;
}
.preview-photo{
  max-width: 30rem;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
.preview-qr{
  max-height: 15rem;
  max-width: 30rem;
  display: block;
  margin: 0 auto 10px auto;
}
#bg-image{
  background-size: cover;
}



