<div class="exit-btn" id="exit-btn-1" (click)="showMenuLeftBtn()"></div>
<div class="exit-btn" id="exit-btn-2" (click)="showMenuRightBtn()"></div>

<header>
  <div class="logo"></div>
</header>
<main>
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" routerLink="/event-detail">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
</main>
<div class="selected-images"></div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}"
     data-backdrop="">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMenu()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Menu</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default menu-btn" (click)="closeMenu()">Back</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/configuration">Edit</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/">Exit</button>
      </div>
    </div>
  </div>
</div>
