<div class="exit-btn" id="exit-btn-1" (click)="showMenuLeftBtn()"></div>
<div class="exit-btn" id="exit-btn-2" (click)="showMenuRightBtn()"></div>

<header [ngStyle]="setLogo()">
  <img *ngIf="overviewLayout != null && overviewLayout.logo != null" class="logo" src="{{overviewLayout.logo}}">
</header>
<main
  [ngStyle]="setImageContainerStyle()">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 1</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 2</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 3</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 4</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 5</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 6</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 7</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 8</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 9</div>
      <div class="swiper-slide" [ngStyle]="setImageStyle()">Slide 10</div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
</main>
<footer>
  <div class="selected-images"
       [ngStyle]="setSelectionContainerStyle()"></div>
  <img *ngIf="overviewLayout != null && overviewLayout.btnImage != null" class="select-btn"
       src="{{overviewLayout.btnImage}}">
  <button *ngIf="overviewLayout != null && overviewLayout.btnImage == null" class="btn btn-default select-btn"
          [ngStyle]="setSelectButton()">{{overviewLayout.selectBtnText}}
  </button>
</footer>


<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}"
     data-backdrop="">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMenu()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Menu</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default menu-btn" (click)="closeMenu()">Back</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/configuration">Edit</button>
        <button type="button" class="btn btn-default menu-btn" routerLink="/">Exit</button>
      </div>
    </div>
  </div>
</div>
