:host {
  background: #cecece;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
}

.photos {
  height: 100%;
}

.photos > img {
  height: 80%;
  width: 100%;
  background: #153972;
}

.photos > .photo-overview {
  height: 20%;
  width: 100%;
  background: white;
}

.photo-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
}

.printAndShare, .backAndFinish {
  display: flex;
  justify-content: space-around;
}

.printMessageAndQr {
  display: flex;
  justify-content: space-around;
}

.qr, .printMessage {
  background: #153972;
  height: 25rem;
  width: 25rem;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
