<main class="row">
  <div class="photos col-sm-5 col-xs-12">
    <img src="">
    <div class="photo-overview">
      <img src="">
    </div>
  </div>

  <div class="photo-actions col-sm-7 col-xs-12">
    <div class="printAndShare">
      <button class="btn btn-default">Print</button>
      <button class="btn btn-default">Share</button>
    </div>
    <div class="printMessageAndQr">
      <div class="printMessage"></div>
      <div class="qr"></div>
    </div>
    <div class="backAndFinish">
      <button class="btn btn-default">Back</button>
      <button class="btn btn-default">Finish</button>
    </div>
  </div>

</main>
