<div class="col-xs-12 col-sm-7 watermark-config-section">
  <div class="watermark-config-nav">
    <div class="toMediaSettings">
      <a [routerLink]="['/configuration/media-settings']"> <span
        class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        back</a>
    </div>
    <div id="save" class="toMediaSettings">
      <a [routerLink]="['/configuration/media-settings']">Save</a>
    </div>
  </div>
  <!-- ACCORDION -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!-- -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
             aria-expanded="false" aria-controls="collapseFour">
            Canvas dimensions
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <!-- CANVAS SETTINGS -->
          <div class="form-group canvas-dimensions">
            <label for="canvasWidth">Width</label>
            <input type="number" id="canvasWidth" [(ngModel)]="imageWatermark.width" (change)="draw()">
          </div>
          <div class="form-group canvas-dimensions">
            <label for="canvasHeight">Height</label>
            <input type="number" id="canvasHeight" [(ngModel)]="imageWatermark.height" (change)="draw()">
          </div>
        </div>
      </div>
    </div>

    <!-- -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
             aria-expanded="false" aria-controls="collapseOne">
            Logo
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <!-- LOGO SETTINGS -->
          <div class="form-group col-xs-12">
            <label for="logoFile">File input</label>
            <div id="logoFile" class="input-group">
              <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" multiple
                                              (change)="onFileSelected($event, 'logo')">
                    </span>
              </label>
              <input type="text" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label for="logoX">X <span>{{imageWatermark.logoX}}</span></label>
            <input id="logoX" type="range" min="0" max="{{imageWatermark.width}}" [(ngModel)]="imageWatermark.logoX"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="logoY">Y <span>{{imageWatermark.logoY}}</span></label>
            <input id="logoY" type="range" min="0" max="{{imageWatermark.height}}" [(ngModel)]="imageWatermark.logoY"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="logoScale">Scale <span>{{imageWatermark.logoScale}} %</span></label>
            <input id="logoScale" type="range" min="0" max="100" [(ngModel)]="imageWatermark.logoScale"
                   (change)="draw()"/>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
             aria-expanded="false" aria-controls="collapseTwo">
            Overlay
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <!-- OVERLAY SETTINGS -->
          <div class="form-group col-xs-12">
            <label for="overlayFile">File input</label>
            <div id="overlayFile" class="input-group">
              <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" multiple
                                              (change)="onFileSelected($event, 'overlay')">
                    </span>
              </label>
              <input type="text" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <label for="overlayX">X <span>{{imageWatermark.overlayX}}</span></label>
            <input id="overlayX" type="range" min="0" max="{{imageWatermark.width}}"
                   [(ngModel)]="imageWatermark.overlayX"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="overlayY">Y <span>{{imageWatermark.overlayY}}</span></label>
            <input id="overlayY" type="range" min="0" max="{{imageWatermark.height}}"
                   [(ngModel)]="imageWatermark.overlayY"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="overlayScale">Scale <span>{{imageWatermark.overlayScale}} %</span></label>
            <input id="overlayScale" type="range" min="0" max="100" [(ngModel)]="imageWatermark.overlayScale"
                   (change)="draw()"/>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
             aria-expanded="false" aria-controls="collapseThree">
            Image
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <!-- IMAGE SETTINGS -->
          <div class="form-group col-xs-12">
            <label for="imageX">X <span>{{imageWatermark.imageX}}</span></label>
            <input id="imageX" type="range" min="0" max="{{imageWatermark.width}}" [(ngModel)]="imageWatermark.imageX"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="imageY">Y <span>{{imageWatermark.imageY}}</span></label>
            <input id="imageY" type="range" min="0" max="{{imageWatermark.height}}" [(ngModel)]="imageWatermark.imageY"
                   (change)="draw()"/>
          </div>
          <div class="form-group col-xs-12">
            <label for="imageScale">Scale <span>{{imageWatermark.imageScale}} %</span></label>
            <input id="imageScale" type="range" min="0" max="100" [(ngModel)]="imageWatermark.imageScale"
                   (change)="draw()"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-xs-12 col-sm-5 watermark-view">
  <canvas #myCanvas width="{{imageWatermark.width}}" height="{{imageWatermark.height}}">
  </canvas>
</div>
