:host {
  height: 100%;
}

.watermark-config-section {

}

.canvasDimensions > h3 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.canvasDimensions label {
  margin-right: 1rem;
}

.canvasDimensions label:last-child {
  margin-left: 1rem;
}

.toMediaSettings {
  margin: 3rem 0;
  display: inline-block;
}

#save {
  float: right;
}

.form-group > label > span {
  padding: 1rem;
  font-weight: 300;
}

.watermark-view {
  overflow: auto;
  height: 100%;
}

img {
  display: none;
}

canvas {
  background-color: #ececec;
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  canvas {
    width: 60%;
  }
}
