:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#logincontainer{
  background: white;
  padding: 3rem;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
  width: 60%;
}
