<div id="logincontainer">
  <form>
    <div class="form-group">
      <label for="name">Email</label>
      <input
        id="name"
        type="text"
        class="form-control"
        #username
        placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        #password
        placeholder="Enter your password">
    </div>
    <button
      type="submit"
      class="btn btn-default"
      *ngIf="!authService.isAuthenticated()"
      (click)="loginWithErrorHandling(username.value, password.value)">
      Log In
    </button>
    <div id="errorMessage" class="errorMessage">{{messages.errorMessage}}</div>
    <div id="succesMessage" class="succesMessage">{{messages.succesMessage}}</div>
    <button
      type="submit"
      class="btn btn-default"
      (click)="authService.logout(username.value, password.value)"
      *ngIf="authService.isAuthenticated()">
      Log Out
    </button>
  </form>
</div>
