<header>
  <h1>{{event.eventName}}</h1>
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['/start-screen']">
    Stop event
  </button>
</header>

<main class="container">

  <div class="row">

    <!-- SERVER DETAILS -->
    <div class="col-xs-6 dashboard-section">
      <h2>server details<span class="active-marker"></span></h2>
      <div class="dashboard-container">
        <div class="form-group col-xs-9">
          <label for="host">Host</label>
          <h4 id="host">{{serverHost}}</h4>
        </div>
        <div class="form-group col-xs-3">
          <label for="port">Port</label>
          <h4 id="port">{{serverPort}}</h4>
        </div>

        <div class="form-group col-xs-12">
          <label for="clients">Connected clients</label>
          <ul id="clients" class="pre-scrollable">
            <li>client 1</li>
            <li>client 2</li>
            <li>client 3</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- EVENT LOGS-->
    <div class="col-xs-6 dashboard-section">
      <h2>event logs</h2>
      <div class="dashboard-container">
        <div class="form-group col-xs-12 event-log-form-group">
          <ul class="pre-scrollable event-log-ul">
            <li>Started</li>
            <li>Something</li>
            <li>Ended</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row bottom-row">

    <!-- PRINTER DETAILS -->
    <div class="col-xs-6 dashboard-section">
      <h2>printer details<span class="inactive-marker"></span></h2>
      <div class="dashboard-container">
        <div class="form-group col-xs-8 printer-details-top">
          <div class="form-group col-xs-9">
            <label for="printer">Printer</label>
            <h4 id="printer">{{printer}}</h4>
          </div>
        </div>
        <div class="form-group col-xs-4 printer-details-top">
          <label for="printStatus">Status</label>
          <h4 id="printStatus">{{printerState}}</h4>
        </div>
        <p (click)="sendTestPrint()">Send testprint</p>
      </div>
    </div>

    <!--  STATISTICS -->
    <div class="col-xs-6 dashboard-section">
      <h2>statistics</h2>
      <div class="dashboard-container">
        <label for="printCounter" class="col-xs-4 statistics">Print counter</label>
        <p id="printCounter" class="col-xs-8 statistics">0</p>
        <label for="shareCounter" class="col-xs-4 statistics">Share counter</label>
        <p id="shareCounter" class="col-xs-8 statistics">0</p>
        <label for="photoCounter" class="col-xs-4 statistics">Photo counter</label>
        <p id="photoCounter" class="col-xs-8 statistics">0</p>
        <label for="eventDuration" class="col-xs-4 statistics">Event duration</label>
        <p id="eventDuration" class="col-xs-8">0</p>
      </div>
    </div>
  </div>

</main>
