<header>
  <button type="button" class="btn btn-default" aria-label="Left Align" routerLink="/">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    Back
  </button>
  <h2>New event</h2>
  <button type="button" class="btn btn-default" aria-label="Left Align" routerLink="/event">
    Start event
  </button>
</header>

<main>
  <basic-info *ngIf="activePart === 1"></basic-info>
  <media-settings *ngIf="activePart === 2"></media-settings>
  <layout-settings *ngIf="activePart === 3"></layout-settings>
</main>

<div class="configSteps">
  <a (click)="changeActivePart(1)">Basic info</a>
  <a (click)="changeActivePart(2)">Media settings</a>
  <a (click)="changeActivePart(3)">Layout</a>
</div>
