<header>
  <button id="back-btn" type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['/start-screen']">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    Back
  </button>

  <h2>{{event.eventName}}</h2>

  <button *ngIf="!newEvent" id="update-event-btn" type="button" class="btn btn-default" aria-label="Left Align" (click)="updateEvent()">
    Update event
  </button>

  <button  *ngIf="newEvent" id="save-event-btn" type="button" class="btn btn-default" aria-label="Left Align" (click)="saveEvent()">
    Save event
  </button>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<div class="configSteps">
  <a id="basic-info" [routerLink]="['basic-info']">Basic info</a>
  <a id="media-settings" [routerLink]="['media-settings']">Media settings</a>
  <a id="layout" [routerLink]="['layout']">Layout</a>
  <a id="share-page" [routerLink]="['share-page']">Share page</a>
</div>
