:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

header h2 {
  margin: 0;
}

button {
  margin: 3rem;
}

main {
  background: #ffffff;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.configSteps {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

a {
  margin: 2rem;
}

@media screen and (max-width: 600px) {
  main {
    margin: 3rem auto;
  }
}

@media screen and (max-width: 991px) {
  :host {
    height: auto;
  }

  main {
    height: auto;
  }
}
