<header>
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['/event-overview']">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    Back
  </button>
  <h2>{{event.eventName}}</h2>
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['/event-overview']">
    Save event
  </button>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<div class="configSteps">
  <a [routerLink]="['basic-info']">Basic info</a>
  <a [routerLink]="['media-settings']">Media settings</a>
  <a [routerLink]="['layout']">Layout</a>
</div>
