<div class="media-settings col-xs-12">
  <h2 class="col-xs-12">Media settings</h2>
  <div class="form-group col-xs-6">
    <label for="mediaStorage">Media storage</label>
    <input type="file" id="mediaStorage">
  </div>
  <div class="form-group col-xs-6">
    <label for="photoQuality">Photo quality</label>
    <div id="photoQuality">
      <input class="btn btn-default" type="button" value="Low"
             (click)="setPhotoQuality(0)"
             [ngStyle]="setPhotoQualityButtonStyle(0)">
      <input class="btn btn-default" type="button" value="Medium"
             (click)="setPhotoQuality(1)"
             [ngStyle]="setPhotoQualityButtonStyle(1)">
      <input class="btn btn-default" type="button" value="High"
             (click)="setPhotoQuality(2)"
             [ngStyle]="setPhotoQualityButtonStyle(2)">
    </div>
  </div>
</div>

<div class="sftp-storage col-xs-12">
  <h2 class="col-xs-12">SFTP storage</h2>
  <div class="form-group col-xs-6">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" placeholder="Username"
           [(ngModel)]="configuration.ftpUsername">
  </div>
  <div class="form-group col-xs-6">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" [(ngModel)]="configuration.ftpPassword">
  </div>
  <div class="form-group col-xs-6">
    <label for="inputPort">Port</label>
    <input type="number" class="form-control" id="inputPort" placeholder="Port" [(ngModel)]="configuration.ftpPort">
  </div>
  <div class="form-group col-xs-6">
    <label for="inputIPAddress">IP address</label>
    <input type="text" class="form-control" id="inputIPAddress" placeholder="IP address"
           [(ngModel)]="configuration.ftpIPAddress">
  </div>
</div>

<div class="printer-settings col-xs-12">

  <h2 class="col-xs-12">Printer settings</h2>
  <div class="form-group col-xs-6">
    <label for="inputPrinterName">Printer name</label>
    <select class="form-control" id="inputPrinterName" [(ngModel)]="printerService.selectedPrinter" (ngModelChange)="printerService.testPrintPhotoOnPrinter()">
      <option [value]="" disabled selected>Choose printer</option>
      <option *ngFor="let printer of printers" [ngValue]="printer">{{printer}}</option>
    </select>
  </div>

  <div class="form-group col-xs-6">
    <label for="inputCopies">Copies</label>
    <input type="number" class="form-control" id="inputCopies" placeholder="Copies"
           [(ngModel)]="configuration.printerCopies">
  </div>
  <div class="form-group col-xs-3 checker-container">
    <input id="qrPrinting" class="checker" type="checkbox" [(ngModel)]="configuration.qrPrinting">
    <label for="qrPrinting">QR Printing</label>
  </div>
  <div class="form-group col-xs-3 checker-container">
    <input id="watermark" class="checker" type="checkbox" [(ngModel)]="configuration.watermarkPrinting">
    <label for="watermark">Watermark</label>
  </div>
  <div class="form-group col-xs-6">
    <label for="watermarkImage">Watermark image</label>
    <input type="file" id="watermarkImage">
  </div>
</div>
