<!-- MEDIA SETTINGS -->
<div class="media-settings col-xs-12">
  <div class="row">
    <h2 class="col-xs-12">Media settings</h2>
    <div class="form-group col-xs-6">
      <label for="mediaStorage">Media storage</label>
      <div id="mediaStorage" class="input-group">
        <label class="input-group-btn">
          <span class="btn btn-primary" (click)="setMediaStoragePath(); $event.preventDefault();">
            Browse&hellip; <input style="display: none;">
          </span>
        </label>
        <input type="text" class="form-control" [(ngModel)]="event.config.mediaStorage" readonly>
      </div>
    </div>
    <div class="form-group col-xs-6">
      <label for="photoQuality">Photo quality</label>
      <div id="photoQuality">
        <input class="btn btn-default" type="button" value="Low"
               (click)="setPhotoQuality(0)"
               [ngStyle]="setPhotoQualityButtonStyle(0)">
        <input class="btn btn-default" type="button" value="Medium"
               (click)="setPhotoQuality(1)"
               [ngStyle]="setPhotoQualityButtonStyle(1)">
        <input class="btn btn-default" type="button" value="High"
               (click)="setPhotoQuality(2)"
               [ngStyle]="setPhotoQualityButtonStyle(2)">
      </div>
    </div>
  </div>
</div>

<!-- PRINTER DETAILS -->
<div class="printer-details col-xs-12">
  <div class="row">
    <h2 class="col-xs-12">Printer details</h2>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <label for="inputPrinterName">Printer name</label>
      <select class="form-control" id="inputPrinterName" [(ngModel)]="event.config.printerName">
        <option [value]="" disabled selected>Choose printer</option>
        <option *ngFor="let printer of printers" [ngValue]="printer">{{printer}}</option>
      </select>
    </div>
    <div class="form-group col-xs-6">
      <label for="inputCopies">Copies</label>
      <input type="number" class="form-control" id="inputCopies" placeholder="Copies"
             [(ngModel)]="event.config.printerCopies">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4 col-md-3 checker-container">
      <input id="watermark" class="checker" type="checkbox" [checked]="event.config.watermarkPrinting"
             (click)="toggleWatermarkPrinting($event.target.checked)">
      <label for="watermark">Watermark</label>
    </div>
    <div *ngIf="event.config.watermarkPrinting"
         class="form-group col-xs-4 col-md-6 checker-container">
      <p *ngIf="event != null && event.config.watermarkPrinting"><span class="glyphicon glyphicon-cog"></span><a
        [routerLink]="['/configuration/watermark-config/1']">Configure watermark</a></p>
    </div>
  </div>
</div>

<!-- SHARING DETAILS -->
<div class="sharing-details col-xs-12">
  <div class="row">
    <h2 class="col-xs-12">Sharing details</h2>
    <div class="form-group col-xs-4 col-md-3 checker-container sharing-checker-container">
      <input id="watermarkSharing" class="checker" type="checkbox" [checked]="event.config.watermarkSharing"
             (click)="toggleWatermarkSharing($event.target.checked)">
      <label for="watermarkSharing">Watermark</label>
    </div>
    <div *ngIf="event.config.watermarkSharing"
         class="form-group col-xs-8 col-md-9 checker-container sharing-checker-container">
      <p *ngIf="event != null && event.config.watermarkSharing"><span class="glyphicon glyphicon-cog"></span><a
        [routerLink]="['/configuration/watermark-config/2']">Configure watermark</a></p>
    </div>
  </div>
</div>
